.video-container {
    display: flex;
    align-items: flex-end;

    .video-wrapper {
        position: relative;
        margin-right: 20px;

        &:hover .video-action {
            .playing,
            .loud-speaker,
            .video-controller-container {
                opacity: 1;
            }
        }
        video {
            border-radius: 8px;
            height: 100%;
            cursor: pointer;
            width: 100%;
        }
    }

    .vertical {
        width: 50%;
    }

    .equal {
        width: 60%;
    }

    .horizontal {
        width: 70%;
    }

    .icon {
        display: flex;
        flex-direction: column;

        button {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: rgba(22, 24, 35, 0.06);
            margin-top: 8px;
            margin-bottom: 6px;
            display: flex;
            align-items: center;
            svg {
                flex: 1;
            }

            &:active {
                background-color: rgba(22, 24, 35, 0.14);
            }
        }
        strong {
            color: rgba(22, 24, 35, 0.75);
            font-size: 12px;
            line-height: 17px;
            text-align: center;
        }
    }
}

.video-action {
    .playing {
        opacity: 0;
        width: 40px;
        height: 40px;
        color: #fff;
        background: inherit;
        position: absolute;
        bottom: 26px;
        transition: opacity 0.3s;
        left: 10px;
        svg {
            height: 20px;
            width: 20px;
        }
    }

    .loud-speaker {
        opacity: 0;
        width: 40px;
        height: 40px;
        color: #fff;
        background: inherit;
        position: absolute;
        transition: opacity 0.3s;
        bottom: 26px;
        right: 16px;

        &:hover ~ .volume-controller-container {
            opacity: 1;
        }
    }

    .muted {
        opacity: 1;
    }

    .volume-controller-container {
        opacity: 0;
        &:hover,
        &:active {
            opacity: 1;
        }
        width: 24px;
        height: 64px;
        position: absolute;
        bottom: 66px;
        right: 24px;
        background: rgba(22, 24, 35, 0.34);
        border-radius: 32px;

        .volume-bar {
            width: 2px;
            height: 48px;
            background-color: rgba(255, 255, 255, 0.5);
            left: 11px;
            top: 8px;
            cursor: pointer;
            border-radius: 4px;

            .volume-circle {
                width: 12px;
                height: 12px;
                background-color: rgb(255, 255, 255);
                border-radius: 12px;
                left: -5px;

                &:focus-visible {
                    outline: none;
                }
            }

            .volume-line:first-child {
                width: 2px;
                background: #fff;
            }
        }
    }
}

.video-controller-container {
    display: flex;
    position: absolute;
    bottom: 12px;
    color: #fff;
    height: 16px;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    width: 100%;
    align-items: center;
    padding-inline: 12px;

    .seek-bar-container {
        width: 100%;
        height: 16px;
        flex: 1 1 auto;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        left: 0px;

        .seek-bar-circle {
            display: none;
            width: 12px;
            height: 12px;
            background-color: rgb(255, 255, 255);
            border-radius: 12px;
            top: -4px;

            &:focus-visible {
                outline: none;
            }
        }

        .seek-bar-line:first-child {
            height: 2px;
            background: #fff;
        }
    }
    &:hover {
        .seek-bar-circle {
            display: block;
        }
        .seek-bar-line:first-child,
        .seek-bar-container {
            height: 4px;
        }
    }

    .time-container {
        flex: 0 0 64px;
        max-width: 64px;
        margin-inline-start: 8px;
        font-size: 10px;
        line-height: 16px;
        color: rgb(255, 255, 255);
        text-align: end;
        white-space: nowrap;
    }
}

@media (max-width: 600px) {
    .video-container {
        .video-wrapper {
            flex: 1;
        }
    }
}
