.video-container {
    display: flex;
    align-items: flex-end;

    .video-wrapper {
        position: relative;
        height: 48%;
        width: 48%;
        min-width: 292px;
        min-height: 292px;
        margin-right: 20px;

        &:hover .video-action {
            .playing,
            .loud-speaker,
            .volume-controller-container {
                opacity: 1;
            }
        }
        video {
            border-radius: 8px;
            height: 47%;
            width: 47%;
            min-width: 292px;
            min-height: 292px;
        }
    }

    .icon {
        display: flex;
        flex-direction: column;

        button {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: rgba(22, 24, 35, 0.06);
            margin-top: 8px;
            margin-bottom: 6px;
            display: flex;
            align-items: center;
            svg {
                flex: 1;
            }

            &:active {
                background-color: rgba(22, 24, 35, 0.14);
            }
        }
        strong {
            color: rgba(22, 24, 35, 0.75);
            font-size: 12px;
            line-height: 17px;
            text-align: center;
        }
    }
}

.video-action {
    .playing {
        opacity: 0;
        width: 40px;
        height: 40px;
        color: #fff;
        background: inherit;
        position: absolute;
        bottom: 26px;
        transition: opacity 0.3s;
        left: 10px;
        svg {
            height: 20px;
            width: 20px;
        }
    }

    .loud-speaker {
        opacity: 0;
        width: 40px;
        height: 40px;
        color: #fff;
        background: inherit;
        position: absolute;
        transition: opacity 0.3s;
        bottom: 26px;
        right: 16px;
    }

    .muted {
        opacity: 1;
    }

    .volume-controller-container {
        transition: opacity 0.3s;
        opacity: 0;
        width: 24px;
        height: 64px;
        display: block;
        position: absolute;
        bottom: 70px;
        right: 24px;
        background: rgba(22, 24, 35, 0.34);
        border-radius: 32px;

        .volume-bar {
            width: 2px;
            height: 48px;
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;
            left: 11px;
            top: 8px;
            bottom: 8px;
            cursor: pointer;
            border-radius: 4px;

            .volume-circle {
                width: 12px;
                height: 12px;
                background-color: rgb(255, 255, 255);
                border-radius: 12px;
                position: absolute;
                left: -5px;
                bottom: 0;
                cursor: pointer;
                z-index: 1;
                transform: translateY(0);
            }

            .volume-line {
                width: 2px;
                height: 48px;
                background-color: rgb(255, 255, 255);
                position: absolute;
                left: 0;
                bottom: 0;
                cursor: pointer;
                transform-origin: center bottom;
                border-radius: 4px;
            }
        }
    }
}
