* {
    font-family: Arial, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --default-layout-width: 1150px;
    --header-layout-height: 60px;
}
// custom scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
//
button {
    cursor: pointer;
    user-select: none;
}

.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}

// custom tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        background-color: rgba(84, 84, 84, 0.92);
        height: 38px;
        line-height: 30px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
