* {
    font-family: Arial, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --default-layout-width: 1150px;
    --header-layout-height: 60px;
    --sidebar-layout-width: 356px;
    --primary: rgba(254, 44, 85, 1);
}
// custom scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// custom tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        background-color: rgba(84, 84, 84, 0.92);
        height: 38px;
        line-height: 30px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}

.app {
    display: flex;
    justify-content: center;
}
// custom simple bar
.simplebar-scrollbar::before {
    background: rgba(22, 24, 35, 0.08);
    width: 6px;
}
