.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0;
    position: relative;

    &::after {
        transform: scaleY(0.5);
        background: rgba(22, 24, 35, 0.2);
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
    }
}

.avatar {
    width: 56px;
    height: 56px;
    display: block;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 50%;
    img {
        border-radius: 50%;
    }
}

.content {
    margin-left: 12px;
}

.info {
    max-width: 510px;
    .description {
        font-size: 16px;
        line-height: 22px;
    }

    .music {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        margin-top: 4px;
        margin-bottom: 12px;

        &:hover {
            text-decoration: underline;
        }

        a {
            display: flex;
            align-items: center;
        }

        .music-icon {
            margin-right: 5px;
            display: inline-block;
            height: 16px;
        }
    }
}

.author {
    display: flex;
    align-items: center;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        height: 56px;
        width: 56px;
        left: -68px;
        bottom: -28px;
    }

    &:hover .author-title {
        text-decoration: underline;
    }

    .author-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        margin-right: 6px;
    }

    .author-name {
        font-weight: 400;
        font-size: 13px;
        word-spacing: 2px;
        line-height: 28px;
    }
}

.video-wrapper {
    display: flex;
    align-items: flex-end;

    video {
        height: 47%;
        width: 47%;
        min-width: 292px;
        min-height: 292px;
        margin-right: 20px;
        border-radius: 8px;
    }

    .icon {
        display: flex;
        flex-direction: column;

        button {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: rgba(22, 24, 35, 0.06);
            margin-top: 8px;
            margin-bottom: 6px;
            display: flex;
            align-items: center;
            svg {
                flex: 1;
            }

            &:active {
                background-color: rgba(22, 24, 35, 0.14);
            }
        }
        strong {
            color: rgba(22, 24, 35, 0.75);
            font-size: 12px;
            line-height: 17px;
            text-align: center;
        }
    }
}

.follow-btn {
    position: absolute;
    top: 28px;
    right: 0;
    min-width: 88px;
    padding: 0 10px;
    min-height: 28px;
    font-size: 16px;
    line-height: 22px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgba(254, 44, 85, 1);
    border-color: rgba(254, 44, 85, 1);
    background-color: rgba(255, 255, 255, 1);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
    &:active {
        background-color: rgba(254, 44, 85, 0.16);
    }
}
// mini profile
.mini-profile {
    width: 320px;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;

    img {
        border-radius: 50%;
    }

    .nickname {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;

        h4 {
            display: inline;
        }
    }

    .full-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .stat {
        margin-top: 8px;
        span {
            color: rgba(22, 24, 35, 0.75);
        }
        .count {
            font-weight: 700;
            margin-right: 6px;
            font-size: 17px;
            color: rgba(22, 24, 35, 1);
            line-height: 20px;
        }

        .follower {
            margin-right: 12px;
            font-size: 17px;
            line-height: 20px;
        }
    }

    .bio {
        font-size: 14px;
        line-height: 20px;
        padding-top: 16px;
        margin-top: 16px;
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    .avatar {
        display: block;
        width: 44px;
        height: 44px;
    }

    button {
        border-radius: 4px;
        color: var(--primary);
        border-color: var(--primary);
        border: 1px solid var(--primary);
        background: #fff;
        min-width: 106px;
        min-height: 28px;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 8px;
        &:hover {
            background-color: rgba(254, 44, 85, 0.06);
        }
        &:active {
            background-color: rgba(254, 44, 85, 0.16);
        }
    }
}
