.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px;
    color: rgba(22, 24, 35, 1);
    transition: background ease-in-out 200ms;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background: rgba(22, 24, 35, 0.06);
    }

    .title {
        margin-left: 8px;
        font-weight: 700;
        font-size: 18px;
    }
}

nav .active {
    color: var(--primary);
    font-size: 20px;
}

@media (max-width: 1070px) {
    .title {
        display: none;
    }
}
