.menu {
    width: 223px;
    user-select: none;
    background: #fff;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;

    ul {
        padding-bottom: 8px;
        max-height: 590px;
        overflow-y: auto;

        li {
            display: flex;
            align-items: center;
            padding: 10px 8px 10px 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            cursor: pointer;

            &:hover {
                background: rgba(22, 24, 35, 0.03);
            }

            a {
                display: flex;
                align-items: center;
                color: #000;
                text-decoration: none;
            }

            svg {
                margin-right: 8px;
                height: 20px;
            }
        }

        li:first-child {
            border-radius: 8px;
        }
        .language {
            border-radius: 0 !important;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 24px;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    border-radius: 8px;
    position: relative;

    .icon-back {
        background-color: #fff;
        border: none;
        height: 50px;
        width: 50px;
        border-radius: 8px;

        svg {
            float: right;
        }
    }

    .title {
        background-color: #fff;
        flex: 1;
        border-radius: 8px;
        p {
            height: 50px;
            font-weight: 600;
            font-size: 16px;
            line-height: 50px;
            margin-left: 20px;
        }
    }
}
