.wrapper {
    display: flex;
    padding: 9px 16px;
    cursor: pointer;
    align-items: center;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    margin-right: 12px;
    height: 40px;
    width: 40px;
    background: #ccc;
    border-radius: 50%;
}

.name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .check {
        margin-left: 8px;
    }
}

.username {
    font-size: 14px;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
