.header {
    height: 60px;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: #fff;
    z-index: 9;
    user-select: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: var(--default-layout-width);
    padding-left: 20px;
    padding-right: 24px;
}

.act {
    display: flex;
    align-items: center;
}

.upload {
    background: #fff;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 16px;
        height: 36px;
    }

    p {
        font-weight: 600;
        font-size: 16px;
        color: rgba(22, 24, 35, 1);
    }

    .icon-plus {
        margin-right: 8px;
        height: 20px;
    }
}

.login {
    margin-left: 16px;
    padding: 6px 8px;
    height: 36px;
    background-color: var(--primary);
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--primary);
    }
}

.icon-more {
    margin-left: 16px;
    cursor: pointer;
}

.mailbox-icon,
.message-icon {
    margin-left: 20px;
    cursor: pointer;
}

.user-icon {
    margin-left: 24px;
    background-size: cover;
    background-image: url(/assets/images/avatar-user.jpeg);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
