* {
    font-family: Arial, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --default-layout-width: 1150px;
    --header-layout-height: 60px;
    --primary: rgba(254, 44, 85, 1);
    --animation-duration: 0.8s;
    --circle-diameter: 20px;
    --circle-scale-percent: 0.2;
}
// custom scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// custom tippy
body {
    overflow-y: overlay;
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        background-color: rgba(84, 84, 84, 0.92);
        height: 38px;
        line-height: 30px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}

.hidden {
    overflow-y: hidden;
}

// custom simple bar
.simplebar-scrollbar::before {
    background: rgba(22, 24, 35, 0.08);
    width: 6px;
}
// animation skeleton

@keyframes skeleton {
    from {
        background-position-x: 200%;
    }
    to {
        background-position-x: -150%;
    }
}

.skeleton-animation {
    background-color: rgba(22, 24, 35, 0.06);
    background-image: linear-gradient(
        90deg,
        rgba(22, 24, 35, 0) 0%,
        rgba(22, 24, 35, 0.04) 50%,
        rgba(22, 24, 35, 0) 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    animation: skeleton cubic-bezier(0, 0, 1, 1) 1.5s infinite;
}

// spinner loading
#loader {
    position: relative;
    left: 50%;
    top: 20px;
    display: inline-block;
    height: 40px;
}

#loader::before,
#loader::after {
    content: '';
    display: table-cell;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    border-radius: 50%;
    position: absolute;
    animation-duration: var(--animation-duration);
    animation-name: revolve;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    mix-blend-mode: darken;
}

#loader::before {
    background: rgb(77, 232, 244);
}

#loader::after {
    background: rgb(253, 62, 62);
    animation-delay: calc(var(--animation-duration) / -2);
}

@keyframes revolve {
    0% {
        left: 0;
    }
    25% {
        transform: scale(calc(1 + var(--circle-scale-percent)));
    }
    50% {
        left: var(--circle-diameter);
    }
    75% {
        transform: scale(calc(1 - var(--circle-scale-percent)));
    }
    100% {
        left: 0;
    }
}

.s-sidebar {
    width: 240px;
    .simplebar-content {
        width: 240px;
    }
    .simplebar-track {
        right: 116px;
    }
}
