.wrapper {
    width: 100%;
    padding-top: 8px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    max-height: min((100vh - 78px) - 60px, 734px);
    overflow: hidden auto;

    .see-all {
        padding: 15px 16px;
        cursor: pointer;
        color: rgb(22, 24, 35);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}

.search-form {
    position: relative;
    padding: 12px 16px;
    border: 1.5px solid transparent;
    border-radius: 92px;
    width: 360px;
    height: 46px;
    background: rgba(22, 24, 35, 0.06);
    user-select: none;

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    i {
        height: 16px;
    }
}

.search-result {
    width: 360px;

    .account-title {
        height: 30px;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
        padding: 5px 12px;
        font-size: 14px;
        line-height: 20px;
    }
}

.search-wrapper {
    display: flex;
    align-items: center;

    input {
        border: none;
        width: 252px;
        font-size: 16px;
        color: rgba(22, 24, 35, 1);
        caret-color: rgba(254, 44, 85, 1);
        background: transparent;
        outline: none;
        line-height: 22px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    .input-icons {
        margin-left: 10px;
        display: flex;
    }

    .loading {
        animation: spinner linear 1s infinite;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.search-btn {
    height: 46px;
    padding: 0 14px;
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    color: #a7a7ab;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        height: 28px;
        background: rgba(22, 24, 35, 0.12);
    }
}
