.main {
    width: 100%;
}

.content {
    background: url(/assets/images/background404.png);
    background-size: cover;
    width: 100%;
    padding-top: 60px;
    height: calc(100vh - 60px);
    text-align: center;

    h1 {
        font-size: 300px;
    }

    p {
        color: rgba(22, 24, 35, 0.5);
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }

    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin: 40px auto 0px;
    }

    a {
        display: block;
        min-width: 168px;
        width: 360px;
        margin: auto;
    }

    button {
        border-radius: 4px;
        color: rgb(255, 255, 255);
        background-color: rgb(254, 44, 85);
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        padding: 6px 8px;
        margin: 24px auto 0px;
        display: flex;
        min-width: 168px;
        min-height: 48px;
        width: 360px;

        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--primary);
        }

        &:active {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), var(--primary);
        }

        .icon {
            margin-right: 5px;
            height: 22px;
        }
    }
}
