.sidebar {
    min-width: 356px;
    .wrapper {
        height: calc(100vh - 60px);
        padding: 20px 8px 26px 8px !important;
        position: fixed;
        width: 356px;
        padding: 8px;
    }
}

.s-sidebar {
    min-width: 240px;
    .wrapper {
        width: 240px;
    }
}

.separate {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        left: 8px;
        right: 8px;
    }
}

.navigation {
    margin-bottom: 8px;
}

.login {
    padding: 20px 8px 24px 8px;

    p {
        color: rgba(22, 24, 35, 0.5);
        font-size: 16px;
        line-height: 22px;
    }

    button {
        border-radius: 4px;
        color: var(--primary);
        min-width: 168px;
        min-height: 48px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
        width: 100%;
        background-color: #fff;
        border: 1px solid var(--primary);
        margin-top: 20px;

        &:hover {
            background-color: rgba(254, 44, 85, 0.06);
        }
        &:active {
            background-color: rgba(254, 44, 85, 0.16);
        }
    }
}

@media (max-width: 1070px) {
    .footer,
    .discover,
    .login {
        display: none;
    }

    .sidebar {
        min-width: 72px;

        .wrapper {
            max-width: 72px;
            border-right: 1px solid rgba(22, 24, 35, 0.12);
            box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
        }
    }
}
